:root {
    --ifm-navbar-background-color: #efefef;
}

html[data-theme=dark] {
    --ifm-navbar-link-color: #ffffff;
    --ifm-navbar-background-color: #000000;
}

.navbar {
    background: var(--ifm-navbar-background-color);
    text-align: left;
    padding: 0;
    height: 85px;
}

.navbar__items--right {
    margin-right: 20px;
}

.navbar .navbar__items > .navbar__brand {
    height: 55px;
    margin: 10px 10px 10px 25px;
}

.navbar .navbar-sidebar .navbar__brand {
    margin-left: 8px;
}

.navbar__link {
    font-size: 1.1em;
}

@media (max-width: 996px) {
    .navbar__toggle {
        margin-left: 1rem;
    }
}
